@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

@{
    string title = Model.Value<string>("title");
    bool boolean = Model.Value<bool>("boolean");

    var image = Model.Value<IPublishedContent>("headerimage");
    var imageUrl = "";
    if (image != null)
    {
        imageUrl = image.Url;
    }

}

@*Hur man skriver ut grids*@
@*@Html.GetGridHtml(Model, "gridLayout")*@


@*@if (!string.IsNullOrEmpty(title))
    {
        <h1>@Model.Value("title")</h1>
    }*@


<div>
    <div class="header-image">
        <img src="@imageUrl" style="width:100%" />
        @*<h1 class="display-4">@Model.Value("headerTitle")</h1>*@
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-6">
            <h1>Hej</h1>
        </div>
        <div class="col-xs-12 col-lg-12 col-md-6">
            <h1>Hejdå</h1>
        </div>
    </div>



    <div class="header-text container py-5 px-5">
        <h3 class="header-title text-center my-5 mx-5">
            <a href="#">
                @Model.Value("title")
            </a>
        </h3>
        <div class="text-and-img">@Model.Value("textbox")</div>
    </div>
</div>


<div class="cta text-center">
    <div>
        <h3>@Model.Value("ctaTitle")</h3>
        <p>@Model.Value("ctaText")</p>
    </div>
</div>

<div>
    @Html.GetGridHtml(Model, "imagesGrid")
    @Html.GetGridHtml(Model, "imagesGrid", "Bootstrap3-fluid")
    @Html.GetGridHtml(Model, "homePageGrid")
</div>

<style>
    .text-and-img img:last-child {
        width: 50px;
        height: 50px;
    }


    .grid-item {
        text-align: center;
        background-image: url("~/Media/unhnuala/patricia-z-7-680x495.jpg");
        height: 200px;
        background-color: silver;
    }

</style>

@*<style>
        .header-text {
            color: dimgray;
            text-align: justify;
            width: 60%;
            line-height: 1.5;
        }

        .header-title {
            text-transform: uppercase;
        }

        .cta {
            background-color: #c0a5a6;
            color: white;
            font-size: 1.6rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            text-transform: uppercase;
            padding-left: 30%;
            padding-right: 30%;
        }
    </style>*@